@import "../../../style/variables.scss";
@import  "../../../style/mixins.scss";

.NoData {
  @include border-radius(3px);

  display: flex;
  justify-content: center;
  background: #475256;
  color: $white;
  margin: 20px 10px;
}