$weather_card_margin: 10px;
.Weather {
  display: flex;
  flex-wrap: wrap;
  .Card {
    margin: $weather_card_margin;
    @media (min-width: 800px) {
      flex: 1;
    }
    @media (max-width: 800px) {
      flex-basis: calc(50% - #{2 * $weather_card_margin});
    }
    @media (max-width: 400px) {
      flex-basis: calc(100% - #{2 * $weather_card_margin});
    }
  }
}